asahi-1.1.0-rel_amss/BOOT.MXF.2.1/boot_images/boot/QcomPkg/SocPkg/Lanai/Tools/hwio/scripts/hwioreg.per
asahi-1.1.0-rel_amss/BOOT.MXF.2.1/boot_images/boot/QcomPkg/SocPkg/Palawan/Tools/hwio/scripts/hwioreg.per
